In [3]:
import pandas as pd

In [5]:
lookalike_df = pd.read_csv("Lookalike.csv")
print(f"Number of recommendations: {len(lookalike_df)}")
print("Average Similarity Score:", lookalike_df["SimilarityScore"].mean())

Number of recommendations: 995
Average Similarity Score: 0.9244312809322814

In [7]:
lookalike_df.head()

  CustomerID SimilarCustomerID  SimilarityScore
0      C0001             C0152         0.998178
1      C0001             C0137         0.966949
2      C0001             C0011         0.923058
3      C0001             C0174         0.903646
4      C0001             C0107         0.897936