In [2]:
import pandas as pd

In [4]:
# Load and merge datasets
ptc = pd.read_csv("Transactions.csv").merge(pd.read_csv("Customers.csv"), on="CustomerID").merge(pd.read_csv("Products.csv"), on="ProductID")

In [6]:

# Insight 1: Revenue by region
revenue_by_region = ptc.groupby("Region")["TotalValue"].sum().sort_values(ascending=False)
print("Revenue by Region:\n", revenue_by_region)

Revenue by Region:
 Region
South America    219352.56
Europe           166254.63
North America    152313.40
Asia             152074.97
Name: TotalValue, dtype: float64

In [16]:
# Insight 2: Sales by day
ptc["TransactionDate"] = pd.to_datetime(ptc["TransactionDate"])
sales_by_day = ptc["TransactionDate"].dt.day_name().value_counts()
print("Sales by Day:\n", sales_by_day)

Sales by Day:
 TransactionDate
Tuesday      163
Wednesday    158
Thursday     150
Sunday       139
Monday       139
Saturday     126
Friday       125
Name: count, dtype: int64

In [18]:

# Insight 3: Top customers
total_spending = ptc.groupby("CustomerID")["TotalValue"].sum().sort_values(ascending=False)
top_10_percent = total_spending.head(int(len(total_spending) * 0.1))
print("Top 10% Customers Revenue:\n", top_10_percent.sum(), "(% of total:", top_10_percent.sum() / total_spending.sum() * 100, ")")

Top 10% Customers Revenue:
 131829.22 (% of total: 19.10580699968562 )

In [20]:

# Insight 4: Revenue by product category
revenue_by_category = ptc.groupby("Category")["TotalValue"].sum().sort_values(ascending=False)
print("Revenue by Category:\n", revenue_by_category)

Revenue by Category:
 Category
Books          192147.47
Electronics    180783.50
Clothing       166170.66
Home Decor     150893.93
Name: TotalValue, dtype: float64

In [22]:

# Insight 5: Spending by customer tenure
ptc["SignupDate"] = pd.to_datetime(ptc["SignupDate"])
ptc["TenureDays"] = (ptc["TransactionDate"] - ptc["SignupDate"]).dt.days
tenure_spending = ptc.groupby("TenureDays")["TotalValue"].mean()
print("Average Spending by Tenure:\n", tenure_spending.head())

Average Spending by Tenure:
 TenureDays
-334    1585.36
-305     196.40
-301     911.44
-298    1252.11
-292     635.42
Name: TotalValue, dtype: float64